<a href="https://colab.research.google.com/github/KalaiselviNarendar/Machine-Learning/blob/main/KNN_DT_NB_calssification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
iris_bunch=load_iris()
print(iris_bunch.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [5]:
iris_df=pd.DataFrame(data=iris_bunch.data,columns=iris_bunch.feature_names)
iris_df.head(2)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

In [7]:
iris_df['class']=iris_bunch.target
iris_df.head(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0

In [9]:
iris_df['class'].value_counts()

0    50
1    50
2    50
Name: class, dtype: int64

In [14]:
x=iris_df.drop('class',axis=1)
y=iris_df['class']

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=21)

In [16]:
print("shape of x train is: ",x_train.shape)
print("shape of x test is: ",x_test.shape)
print("shape of y train is: ",y_train.shape)
print("shape of y test is: ",y_test.shape)

shape of x train is:  (120, 4)
shape of x test is:  (30, 4)
shape of y train is:  (120,)
shape of y test is:  (30,)

In [17]:
### KNN Algrithm

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
knn_model=KNeighborsClassifier(n_neighbors=4)# n_neighbor paramet is the k value ( k value is class value +1 )

In [21]:
knn_model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [22]:
y_test_pred_knn = knn_model.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

print ("the accuracy score for KNN :")
print(accuracy_score(y_test,y_test_pred_knn))

print (classification_report(y_test,y_test_pred_knn))

the accuracy score for KNN :
0.9666666666666667
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.92      0.96        12
           2       0.88      1.00      0.93         7

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

In [27]:
### Naive Bayes Classifier - GaussianNB

In [28]:
from sklearn.naive_bayes import GaussianNB

In [30]:
gnb_model=GaussianNB()
gnb_model.fit(x_train,y_train)

GaussianNB()

In [32]:
y_test_pred_gnd=gnb_model.predict(x_test)

In [33]:
print(classification_report(y_test,y_test_pred_gnd))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.92      0.96        12
           2       0.88      1.00      0.93         7

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

In [34]:
### Decision Trees classifier
from sklearn.tree import DecisionTreeClassifier

In [35]:
dt_model=DecisionTreeClassifier()

In [36]:
dt_model.fit(x_train,y_train)
y_train_pred_dt=dt_model.predict(x_train)
y_test_pred_dt=dt_model.predict(x_test)

In [46]:
dt_model.get_depth()

4

In [38]:
print ("the accuracy score of train dataset")
print(accuracy_score(y_train,y_train_pred_dt))
print ("the accuracy score of test dataset")
print(accuracy_score(y_test,y_test_pred_dt))

the accuracy score of train dataset
1.0
the accuracy score of test dataset
0.9333333333333333

In [39]:
# from here we see that the model is overfitting on train dataset.

In [40]:
# Prunning decision tree

In [43]:
dt_pruned_model=DecisionTreeClassifier(max_depth=2)

dt_pruned_model.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=2)

In [44]:
y_test_pred_pruned_dt=dt_pruned_model.predict(x_test)
y_train_pred_pruned_dt=dt_pruned_model.predict(x_train)

In [45]:
print ("the accuracy score of train dataset")
print(accuracy_score(y_train,y_train_pred_pruned_dt))
print ("the accuracy score of test dataset")
print(accuracy_score(y_test,y_test_pred_pruned_dt))

the accuracy score of train dataset
0.975
the accuracy score of test dataset
0.8333333333333334