<a href="https://colab.research.google.com/github/KalaiselviNarendar/Machine-Learning/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
bc_bunch=load_breast_cancer()

In [ ]:
cancer_df=pd.DataFrame(bc_bunch.data,columns=bc_bunch.feature_names)
cancer_df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [ ]:
cancer_df['class']=bc_bunch.target
cancer_df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,class
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [ ]:
x=cancer_df.drop('class',axis=1)
y=cancer_df['class']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=21)

In [ ]:
print("shape of x train is: ",x_train.shape)
print("shape of x test is: ",x_test.shape)
print("shape of y train is: ",y_train.shape)
print("shape of y test is: ",y_test.shape)

shape of x train is:  (455, 30)
shape of x test is:  (114, 30)
shape of y train is:  (455,)
shape of y test is:  (114,)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg_model=LogisticRegression(solver='newton-cg')

In [ ]:
logreg_model.fit(x_train,y_train)
y_test_pred=logreg_model.predict(x_test)

In [ ]:
pd.DataFrame({'Actual values': y_test,'modelprediction':y_test_pred}).head(20)

     Actual values  modelprediction
550              1                1
147              1                1
4                0                0
77               0                0
339              0                0
319              1                1
506              1                1
55               1                1
539              1                1
347              1                1
273              1                1
296              1                1
375              1                1
404              1                1
551              1                1
13               0                1
453              1                1
338              1                1
234              1                1
292              1                1

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_test_pred))

[[34  5]
 [ 3 72]]

In [ ]:
from sklearn.metrics import accuracy_score
print("the accuracy score")
print(accuracy_score(y_test,y_test_pred))

the accuracy score
0.9298245614035088

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_test_pred))

              precision    recall  f1-score   support

           0       0.92      0.87      0.89        39
           1       0.94      0.96      0.95        75

    accuracy                           0.93       114
   macro avg       0.93      0.92      0.92       114
weighted avg       0.93      0.93      0.93       114

In [ ]:
from sklearn.svm import SVC

In [ ]:

svc_model=SVC()
svc_model.fit(x_train,y_train)

SVC()

In [ ]:
y_test_pred_svc=svc_model.predict(x_test)

In [ ]:
print("the accuracy score")
print(accuracy_score(y_test,y_test_pred_svc))

the accuracy score
0.8859649122807017

In [ ]:
# changing the default hyper parameter to linear from rbf to try different values
svc_lin_model=SVC(kernel='linear')
svc_lin_model.fit(x_train,y_train)

SVC(kernel='linear')

In [ ]:
y_test_pred_lin_svc=svc_lin_model.predict(x_test)

In [ ]:
print("the accuracy score")
print(accuracy_score(y_test,y_test_pred_lin_svc))

the accuracy score
0.9385964912280702

In [ ]:
# for IRIS dataset

In [ ]:
from sklearn.datasets import load_iris
iris_bunch=load_iris()
iris_df=pd.DataFrame(data=iris_bunch.data,columns=iris_bunch.feature_names)
iris_df['class']=iris_bunch.target
iris_df.head(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0

In [ ]:
x=iris_df.drop('class',axis=1)
y=iris_df['class']
from sklearn.model_selection import train_test_split
x_train_svm,x_test_svm,y_train_svm,y_test_svm=train_test_split(x,y,test_size=0.2,random_state=21)

In [ ]:
svm_model=SVC()
svm_model.fit(x_train_svm,y_train_svm)
y_test_pred_svm=svm_model.predict(x_test)
print("the accuracy score of test")
print(accuracy_score(y_test,y_test_pred_svm))
y_train_pred_svm=svm_model.predict(x_train)
print("the accuracy score of train")
print(accuracy_score(y_train,y_train_pred_svm))

the accuracy score of test
0.9
the accuracy score of train
0.9833333333333333